<div class="cv-home-wrapper">
  <div class="cv-home-row">
    <div class="cv-section border-bottom border-right">
      <span class="material-icons">account_circle</span>
      <span> EXECUTIVE SUMMARY
    </span>
    </div>
    <div class="cv-section border-bottom  ">
      <span class="material-icons">settings</span>
      <span>TOOLS AND APPLICATION</span>
    </div>
    <div class="cv-section border-bottom border-left">
      <span class="material-icons">emoji_objects</span>
      <span>TECHNICAL SKILLS AND KNOWLEDGE</span></div>
  </div>
  <div class="cv-home-row">
    <div class="cv-section border-right">
      <span class="material-icons">emoji_events</span>
      <span>ACCOMPLISHMENTS</span>
    </div>
    <div class="cv-section ">
      <span class="material-icons">school</span>
      <span>EDUCATION</span>
    </div>
    <div class="cv-section border-left">
      <span class="material-icons">work</span>
      <span>PROFESSIONAL EXPERIENCE</span>
    </div>
  </div>
</div>
